.workWrapper {
    background: var(--color-secondary);
    color: var(--color-white);
    padding-top: 80px;
    margin-top: 0;
}

.imageWrapper {
    grid-area: image;
    height: 150px;
    width: 260px;
    position: relative;
    margin-bottom: 2.5rem;
}

.imageBackground {
    background: var(--color-primary);
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: var(--border-radius);
    transform: translate(1rem, 1rem);
}

.image {
    border-radius: var(--border-radius);
    object-fit: contain;
}

.workExamples {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 80px;
    padding: 0 2rem;
}

.workDescription {
    margin-top: 1rem;
}

.workItem {
    width: 100%;
    margin-bottom: 80px;
}

.linkHref {
    margin-top: 0.5rem;
    color: var(--color-white);
    display: block;
}

@media screen and (min-width: 1000px) {
    .workExamples {
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 600px) {
    .imageWrapper {
        height: 170px;
        width: 300px;
    }
}