.footerWrapper {
    padding: 80px 0 0;
    margin-top: 0;
    position: relative;
    background: var(--color-secondary);
    height: 300px;
}

.footerContent {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

.footerText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.copywrite {
    color: var(--color-white);
    position: relative;
    font-weight: 700;
}