.footerBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--color-secondary);
  background: var(--pattern);
  background-size: var(--pattern-size);
  background-color: var(--color-primary);
  clip-path: polygon(100% 0px, 100% 100%, 100% 100%, 0px 100%, 0px 80px);
}