.heroContainer {
    display: flex;
    height: 70vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
}

.heroBackground1 {
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
    background: var(--color-secondary);
    clip-path: polygon(95% 0px, 85% 80%, 0px 100%, 0px 0px);
}

.heroBackground2 {
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--color-secondary);
    background-image: repeating-linear-gradient(135deg, currentColor, currentColor 4px, transparent 0, transparent 50%);
    background-size: 30px 30px;
    clip-path: polygon(100% 0px, 100% 0px, 100% 75%, 0px 88%, 0px 0px);
}

.heroBackground3 {
    position: absolute;
    height: 95%;
    width: 100%;
    background: var(--color-primary);
    clip-path: polygon(105% 0px, 95% 85%, var(--base-margin) 95%, 0px 0px);
}

.heroText {
    position: relative;
    margin: var(--base-margin);
    max-width: var(--max-width);
    width: 100%;
}

.headline {
    font-size: var(--h1);
    font-weight: 900;
    color: var(--color-white)
}

.subHeadline {
    font-size: var(--body-large);
    font-weight: 400;
    color: var(--color-white)
}