.heroContainer {
    display: flex;
    height: 60vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
}

@media screen and (min-width: 600px) {
    .heroContainer {
        height: 50vh;
    }
}

@media screen and (min-width: 1000px) {
    .heroContainer {
        height: 70vh;
    }
}

.heroText {
    position: relative;
    margin: var(--base-margin);
    max-width: var(--max-width);
    width: 100%;
}

.headline {
    font-size: var(--h1);
    font-weight: 900;
    color: var(--color-white)
}

.subHeadline {
    font-size: var(--body-large);
    font-weight: 400;
    color: var(--color-white)
}

.arrowDownContainer {
    position: absolute;
    bottom: 0;
}

.arrowDown {
    color: var(--color-white);
}