.historyTransition {
    position: relative;
}

.historyWrapper {
    background: var(--color-secondary);
    color: var(--color-white);
    padding-top: 80px;
    clip-path: polygon(95% 140px, 100% 450px, 100% 100%, 0px 100%, 0px 40px);
}

.title {
    margin-top: 60px;
}

.jobHistory {
    margin: 120px 0;
}

.currentJob {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.currentJobTitle {
    font-size: var(--h3);
}

.currentJobDates {
    font-weight: 700;
    margin-top: 1rem;
}

.currentJobText {
    margin-top: 1rem;
}

.caseStudies {
    margin-left: 2rem;
    margin-top: 1rem;
}

.caseStudiesLabel {
    font-size: var(--body-small);
}

.furtherPastJobs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
}

@media screen and (min-width: 1000px) {
    .furtherPastJobs {
        grid-template-columns: 1fr 1fr;
    }
}