.historyTransitionBackground2 {
  position: absolute;
  height: 600px;
  width: 100%;
  color: var(--color-secondary);
  background: var(--pattern);
  background-size: var(--pattern-size);
  clip-path: polygon(100% 120px, 100% 400px, 100% 100%, 0px 100%, 0px 50px);
}

.historyTransitionBackground3 {
  position: absolute;
  height: 600px;
  width: 100%;
  background: var(--color-primary);
  clip-path: polygon(100% 80px, 100% 400px, 100% 100%, 0px 100%, var(--base-margin) 0px)
}