:root {
  --max-width: 1200px;
  --border-radius: 4px;
  --base-margin: 40px;
  --base-rem: 16px;

  --color-black: #121212;
  --color-black-light: #555;
  --color-white: #fff;
  --color-white-dark: #e3e3e3;

  --color-blue-dark: #164BB3;
  --color-blue-light: #3489E6;

  --color-background: var(--color-white);
  --color-background-secondary: var(--color-white-dark);
  --color-foreground: var(--color-black);
  --color-foreground-secondary: var(--color-black-light);

  --color-primary: var(--color-blue-light);
  --color-secondary: var(--color-blue-dark);

  --pattern: repeating-linear-gradient(135deg, currentColor, currentColor 4px, transparent 0, transparent 50%);
  --pattern-size: 30px 30px;

  font-size: var(--base-rem);

  --h1: 4rem;
  --h2: 2rem;
  --h3: 1.5rem;

  --body: 1rem;
  --body-large: 1.25rem;
  --body-small: 0.85rem;

  color-scheme: light;
}

@media screen and (min-width: 600px) {
  :root {
    --base-rem: 18px;
    --base-margin: 40px;

    --h1: 5rem;
    --h2: 2.5rem;
    --h3: 2rem;

    --body-large: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --base-rem: 18px;
    --base-margin: 80px;

    --h1: 7rem;
    --h2: 3.5rem;
    --h3: 1.5rem;

    --body-large: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-secondary: var(--color-black-light);
    --color-foreground: var(--color-white);
    --color-foreground-secondary: var(--color-white-dark);
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  transition: .15s ease;
}

body.no-animate {
  transition: none;
}

:root.theme-dark {
  --color-background: var(--color-black);
  --color-background-secondary: var(--color-black-light);
  --color-foreground: var(--color-white);
  --color-foreground-secondary: var(--color-white-dark);
  color-scheme: dark;
}

:root.theme-light {
  --color-background: var(--color-white);
  --color-background-secondary: var(--color-white-dark);
  --color-foreground: var(--color-black);
  --color-foreground-secondary: var(--color-black-light);
  color-scheme: light;
}

:root.pattern-dots-large {
  --pattern: radial-gradient(currentColor 6px, transparent 6px);
  --pattern-size: 30px 30px;
}

:root.pattern-dots-small {
  --pattern: radial-gradient(currentColor 2px, transparent 2px);
  --pattern-size: 20px 20px;
}

:root.pattern-lines-large {
  --pattern: repeating-linear-gradient(135deg, currentColor, currentColor 4px, transparent 0, transparent 50%);
  --pattern-size: 30px 30px;
}

:root.pattern-zigzag-large {
  --pattern: linear-gradient(135deg, currentColor 25%, transparent 25%) -10px 0,
            linear-gradient(225deg, currentColor 25%, transparent 25%) -10px 0,
            linear-gradient(315deg, currentColor 25%, transparent 25%),
            linear-gradient(45deg, currentColor 25%, transparent 25%);
  --pattern-size: 20px 20px;
}

:root.pattern-diamond-large {
  --pattern: linear-gradient(135deg, currentColor 25%, transparent 25%) -20px 0,
            linear-gradient(225deg, currentColor 25%, transparent 25%) -20px 0,
            linear-gradient(315deg, currentColor 25%, transparent 25%),
            linear-gradient(45deg, currentColor 25%, transparent 25%);
  --pattern-size: 20px 20px;
}

:root.pattern-waves-large {
  --pattern: radial-gradient(circle at 100% 50%, transparent 20%, currentColor 21%, 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, currentColor 21%, currentColor 34%, transparent 35%, transparent) 0 -25px;
  --pattern-size: 37.5px 50px;
}

p {
  font-size: var(--body);
}