:root {
  --max-width: 1440px;
  --border-radius: 4px;
  --base-margin: 80px;
  --base-rem: 18px;

  --color-black: #333;
  --color-white: #fff;

  --color-blue-dark: #164BB3;
  --color-blue-light: #3489E6;

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-primary: var(--color-blue-light);
  --color-secondary: var(--color-blue-dark);

  font-size: var(--base-rem);

  --h1: 7rem;
  --h2: 3.5rem;
  --h3: 1.75rem;

  --body: 1rem;
  --body-large: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-foreground: var(--color-white);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground-rgb);
  background: var(--foreground-rgb);

  /* min-height: 100vh; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
