.app {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100%;
}

.footer {
    width: 100%;
}

.blueSection {
    background: var(--color-secondary);
}