.historyTransition {
    position: relative;
}

.historyTransitionBackground2 {
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--color-secondary);
    background-image: repeating-linear-gradient(135deg, currentColor, currentColor 4px, transparent 0, transparent 50%);
    background-size: 30px 30px;
    clip-path: polygon(100% 120px, 100% 400px, 100% 100%, 0px 100%, 0px 50px);
}

.historyTransitionBackground3 {
    position: absolute;
    height: 95%;
    width: 100%;
    background: var(--color-primary);
    clip-path: polygon(100% 80px, 100% 400px, 100% 100%, 0px 100%, var(--base-margin) 0px)
}

.historyWrapper {
    background: var(--color-secondary);
    color: var(--color-white);
    padding-top: 80px;
    clip-path: polygon(95% 140px, 100% 450px, 100% 100%, 0px 100%, 0px 40px);
}

.title {
    margin-top: 60px;
}

.jobHistory {
    margin: 120px 0;
}

.currentJob {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.currentJobTitle {
    font-size: var(--h3);
}

.currentJobDates {
    font-weight: 700;
    margin-top: 1rem;
}

.currentJobText {
    margin-top: 1rem;
}

.pastJob {
    padding: 0 2rem;
    margin-top: 80px;
}

.pastJobTitle {
    font-size: var(--h3);
}

.pastJobDates {
    font-weight: 700;
    margin-top: 1rem;
}

.pastJobText {
    margin-top: 1rem;
}