.initialState {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0s, transform 0s;
  will-change: opacity, transform;
}

.initialState.disabled {
  opacity: 1;
  transform: none;
  transition: none;
  will-change: auto;
}

.isVisible {
  opacity: 1;
  transform: none;
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}

.isSpan.initialState {
  display: inline-block;
}

@media (prefers-reduced-motion) {
  .initialState {
    opacity: 1;
    transform: none;
    transition: none;
    will-change: auto;
  }
}